#userContainer {
    background: url("./Image/LouGehrig.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1500px;
    font-weight: bold;
    color: white

}