#workoutBuilderContainer {
    background: url("./Image/StanMusial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1500px;
    font-weight: bold;
    color: white

}

#inputForm {
    width: 50%;
    margin: auto;
    position: relative;
}

.shade {
    background: black;
    opacity: .55;
    padding-top: 32px;
    font-weight: bolder;
}